{% extends "base.html" %}

{% block title %}Get History{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Get Trading History</h2><br>
    <form action="/show-history" method="post" style="width: 40%;">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="history_option" id="current" value="current">
            <label class="form-check-label" for="current">
                Current Logined
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="history_option" id="select" value="select" checked>
            <label class="form-check-label" for="select">
                Select from Base
            </label>
            <select class="form-control mt-2 small-input" id="select-menu" name="selected_account">
                <!-- Options populating dynamically -->
                {% for account in accounts %}
                    <option class="small-input" value="{{ account.login }}">{{ account.title }} ({{ account.login }})</option>
                {% endfor %}
            </select>
        </div><br>
        <button type="submit" class="btn btn-primary mt-3 btn-sm">Get History</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentRadio = document.getElementById('current');
        const selectRadio = document.getElementById('select');
        const selectMenu = document.getElementById('select-menu');
        const currentLabel = document.querySelector('label[for="current"]');
        const selectLabel = document.querySelector('label[for="select"]');

        function updateState() {
            if (currentRadio.checked) {
                selectMenu.disabled = true;
                selectLabel.classList.add('disabled');
                currentLabel.classList.remove('disabled');
            } else if (selectRadio.checked) {
                selectMenu.disabled = false;
                currentLabel.classList.add('disabled');
                selectLabel.classList.remove('disabled');
            }
        }

        currentRadio.addEventListener('change', updateState);
        selectRadio.addEventListener('change', updateState);
        updateState();
    });
</script>
{% endblock %}

<style>
    {% block style %}
        .small-input {
            max-width: 350px; /* Установите максимальную ширину input-поля */
            font-size: 0.75rem; /* Уменьшите размер шрифта */
            margin-bottom: -0.5rem;
        }
    {% endblock %}
    </style>